:root {
  --header-background: #243b4a;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  margin: 0;
  font-family: "system";
  width: 100%;
}

.page-header {
  width: 100%;
  background: var(--header-background);
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.5vmax;
  font-size: 1.7rem;

  & .starting {
    color: #69f0ae;
  }
}

.segment.card-container {
  height: 70vh;
  overflow: auto;
  border: none;
  box-shadow: unset;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.project-card {
  position: relative;

  &:not(:first-child) {
    margin-top: 20px;
  }

  & .project-card-content {
    width: 80%;
  }

  & .extra-items {
    margin-top: 1rem;
    display: flex;

    & .item {
      margin-right: 10px;
    }
  }

  & .percentage-funded {
    position: absolute;
    right: 2rem;
    top: 25%;
  }
}

.filter-bar {
  margin: 5rem 0 1rem !important;
}

.sorter {
  justify-content: center;
  width: 100%;
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
}
