:root {
  --header-background: #243b4a;
}

@custom-media --small-viewport (max-width: 768px);

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  margin: 0;
  font-family: "system";
  width: 100%;
}

.page-header {
  width: 100%;
  background: var(--header-background);
  height: 4rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.5vmax;
  font-size: 1.7rem;

  & .starting {
    color: #69f0ae;
  }
}

.segment.card-container {
  height: 70vh;
  overflow: auto;
  border: none;
  box-shadow: unset;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

@media (--small-viewport) {
  .segment.card-container {
    width: 100%;

    & .percentage-funded {
      right: 0;

      & .value {
        font-size: 1rem !important;
      }

      & .label {
        font-size: 0.7rem !important;
      }
    }
  }
}

.project-card {
  position: relative;

  &:not(:first-child) {
    margin-top: 20px;
  }

  & .project-card-content {
    width: 80%;
  }

  & .extra-items {
    margin-top: 1rem;
    display: flex;

    & .item {
      margin-right: 10px;
    }
  }

  & .percentage-funded {
    position: absolute;
    right: 2rem;
    top: 25%;
  }
}

.filter-bar {
  margin: 5rem 0 1rem !important;
}

@media (--small-viewport) {
  .filter-bar {
    margin: 10px 0;
  }
}

.sorter {
  justify-content: center;
  width: 100%;
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
}

.footer {
  width: 100%;
  height: 4rem;
  margin-top: 5rem;
  background-color: black;
  color: white;
  position: relative;
}

.footer a {
  margin-top: 0.5rem;
  margin-right: 5px;
  float: right;
}

.link-button {
  color: unset;
  text-decoration: none;
}

.link-button:active,
.link-button:visited {
  text-decoration: none;
}
